.header-1 {
  z-index: 200;
  width: 100%;
  position: fixed;
  padding: 1rem 0;
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.7);
  vertical-align: middle;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

.header-1 a {
  display: block;
  padding: 0 0 5px;
  position: relative;
  text-decoration: none;
}

.header-1 a::before,
.header-1 a::after {
  border-bottom: solid 2px #a1a5be;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}

.header-1 a::before {
  left: 50%;
}

.header-1 a::after {
  right: 50%;
}

.header-1 a:hover::before,
.header-1 a:hover::after {
  width: 50%;
}

.header-1 .container {
  max-height: 100%;
}

.header-1 .container .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-height: 100%;
}

.header-1 .container .inner .image-logo {
  width: 20%;
  margin: auto 0;
}

.header-1 .container .inner .navbar {
  width: 100%;
}

.header-1 .container .inner .navbar #Navber ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-1 .container .inner .navbar #Navber ul a {
  color: #222121;
  text-decoration: none;
}

.header-1 .container .inner .navbar #Navber ul li {
  list-style: none;
  margin: auto 2.5rem;
}

.header-1 .container .inner .navbar #Navber ul li img {
  width: 3rem;
  height: 3rem;
}

.main-pic {
  padding-top: 12.7rem;
  text-align: center;
  width: auto;
}

.main-pic .image {
  margin: 0 auto;
  height: auto;
  max-height: 50rem;
  width: 100%;
  max-width: 120rem;
}

#footer {
  padding: 40px 0 20px;
  background-color: #009b62;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

#footer .container-fluid {
  padding: 0 5rem;
}

#footer p.name {
  margin: 0 0 30px;
  font-size: 20px;
  font-weight: bold;
}

#footer .left-block p.head {
  font-size: 18px;
  font-weight: bold;
}

#footer .center-block p.head {
  font-size: 18px;
  font-weight: bold;
}

#footer .center-block .body .contact {
  margin: 30px 0;
  text-align: center;
  display: inline-block;
  width: 260px;
  padding: 1rem;
  background-color: white;
  background-image: url(img/mail.png);
  cursor: pointer;
}

#footer .center-block .body .contact a {
  color: #009b62;
  font-size: 16px;
  font-weight: bold;
}

#footer .right-block .banner ul {
  list-style: none;
}

#footer .right-block .banner ul li {
  border: solid 2px #ffffff;
  margin: 1rem 0;
}

#footer .right-block .banner ul li img {
  max-width: 100%;
}

.effect-fade {
  opacity: 0;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}

.effect-fade.effect-scroll {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
/*# sourceMappingURL=all.css.map */