
.inner{
  max-width: 120rem;
  width: auto;
  margin: 0 auto;
  .inner{
    max-width: 120rem;
    width: auto;
    margin: 0 auto;
    text-align: center;
    }
    
    li{
      display: inline;
    }
  }
}