#profile-parent{
  #container{
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 90%;
    font-family: 'Noto Serif JP',"游明朝", 'YuMincho', "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  }
  .title{
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 50px 0 10px;
    background-color: #009b62;

    h1{
      position: relative;
      padding: 0 0 10px;
      font-weight: bold;
      text-align: center;
      color: #fff;
    }
    .profile::before{
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 120px;
      // border-bottom: #fff solid 2px;
      content: "";
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }


  .container{
    display: flex;
    font-size: 1.5rem;
    .row{
      .left-con{
        margin: 0 ,auto;
        justify-content: center;
      }
      .right-con{
        margin: 0 ,auto;
        padding-top: 2vw;
        justify-content: center;
        .name{
          padding: 4vw 0 1vw;
          text-align: center;
          span{
            color: #005500;
            font-size: 30px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .profile-pic{
    text-align: center;
    width: auto;
    @media (min-width: 320px){
      .image{
        margin: 0 auto;
        padding: 2vw;
        height: auto;
        width: 300px;
      }
    }
    @media (min-width: 768px){
      .image{
        margin: 0 auto;
        padding: 2vw;
        height: auto;
        width: 500px;
      }
    }
  }
  .profile_box{
    padding: 2vw;
    border: #ddd solid 10px;
    font-size: 15px;
    margin: 6vw;
    .container{
      display: flex;
      margin: auto;
      .row{
        width: 100%;
        .left-block{
          margin: 0 ,auto;
          justify-content: center;
          margin-bottom: 2rem;
          h3{
            margin: 0 0 16px;
            color: #009b62;
            font-weight: bold;
            table{
              tbody{s
                tr{
                  th,td{
                    padding: 5px 10px;
                  }
                }
              }
            }
          }
        }
        .right-block{
          margin: 0 ,auto;
          justify-content: center;
          h3{
            margin: 0 0 16px;
            color: #009b62;
            font-weight: bold;
          }
        }
      }
    }
  }
}