.title{
  font-size: 40px;
  text-align: center;
  padding-top: 11rem;
}

section.con2{
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
  .left-con{
    width: 50%;
    margin: 0 ,auto;
    justify-content: center;

  }
  .right-con{
    width: 50%;
    margin: 0 ,auto;
    justify-content: center;
    .inner{
      padding: 15rem 0 5rem;
      .name{
        span{
          color: #005500;
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
  }
}

.profile-pic{
  text-align: center;
  width: auto;
  .image{
    margin: 0 auto;
    padding: 3rem 6rem;
    height: auto;
    max-height: 50rem;
    width: 100%;
    max-width: 120rem;
  }
}

.profile_box{
  padding: 40px;
  border: #ddd solid 10px;
  font-size: 15px;
  .block{
    display: flex;
    .left-block{
      width: 50%;
      margin: 0 ,auto;
      justify-content: center;
      h3{
        margin: 0 0 16px;
        color: #009b62;
        font-size: 18px;
        font-weight: bold;
        .tabel{
          tbody{
            tr{
              th{
                padding: 0 16px 0 0;
              }
              td{
                padding: 0 0 4px;
              }
            }
          }
        }
      }
    }
    .right-block{
      width: 50%;
      margin: 0 ,auto;
      justify-content: center;
      h3{
        margin: 0 0 16px;
        color: #009b62;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
